body{
    background-color: #2E8B57;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

td {
    background-color: white;;
}

h1{
    text-align: center;
}