{% block body %}

   <link href="{{ asset('css/timer.css') }}" type="text/css" rel="stylesheet">

    <nav class="navbar navbar-expand-lg ">
                <ul class="navbar-nav">
                    <li>
                        <a href="{{ path('user_list') }}" style="color: #222222; text-decoration: none;" class="host">Liste des Users</a>
                    </li>
                    
                </ul>

                <ul class="navbar-nav ml-auto" >

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-outline-success account">Connexion</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
    </nav>
{% endblock %}
